In [2]:
%load_ext sql

In [3]:
# postgresql://username:password@hostname/dbname
%sql postgresql://postgres:postgrepassword@localhost/

[Data](../Data/SQL/Employee%20Data.csv)
```sql
CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  first_name VARCHAR(255),
  last_name VARCHAR(255),
  email VARCHAR(255),
  phone_number VARCHAR(255),
  address VARCHAR(255),
  city VARCHAR(255),
  state VARCHAR(255),
  postal_code VARCHAR(255),
  country VARCHAR(255),
  date_of_birth VARCHAR(255),
  gender VARCHAR(255),
  nationality VARCHAR(255),
  job_title VARCHAR(255),
  department VARCHAR(255),
  salary VARCHAR(255),
  hire_date VARCHAR(255),
  termination_date VARCHAR(255),
  manager_id INTEGER,
  employee_status VARCHAR(255),
  performance_rating VARCHAR(255),
  work_location VARCHAR(255),
  employee_type VARCHAR(255),
  employee_id INTEGER,
  supervisor_id INTEGER
);
```

In [4]:
%%sql
SELECT COUNT(user_id) FROM users LIMIT 25

 * postgresql://postgres:***@localhost/
1 rows affected.

[(1001,)]

Randomize Manager and Supervisor IDs

```sql
-- Randomize Manager
UPDATE users
SET manager_id = floor((RANDOM()* (user_id - 1)) + 1)
WHERE user_id <> 1;

-- Randomize Supervisor
UPDATE users
SET supervisor_id = FLOOR(RANDOM() * (user_id - manager_id) + 1) + manager_id - 1
WHERE user_id <> 1;


-- Test
SELECT user_id, supervisor_id, manager_id
FROM users
WHERE
  (manager_id >= user_id -- Not managing themself
  OR supervisor_id >= user_id -- Not supervising themself or  supervised by below
  OR manager_id = 0 -- Not out of range
  OR supervisor_id = 0 -- Not out of range
  OR manager_id > supervisor_id -- Supervisor is not above manager
  ) AND user_id <> 1 -- Not the highest employee
ORDER BY user_id;
```