### Table:
|visitor_id|page_name|visit_datetime|conversion_flag|
|:--------:|:--------:|:--------:|:--------:|
|123|A|11/1/2019 9:00:00|0|
|123|A|11/1/2019 9:20:00|1|
|123|B|11/1/2019 9:30:00|1|
|...|...|...|...|...|

### Questions:
* Find average conversion rate of visitors
* Find conversion rate by the first page of visit
* Find conversion rate by the last page of visit
* Find conversion rate by the number of pages a visitor goes to
* Find conversion rate by the page path users take

In [1]:
%load_ext sql

#### * Find average conversion rate of visitors
First, I find whether the visitor *ultimately* converted. I count the percentage by dividing total visitor that has `conversion_flag` ultimately `1` divided by total of `visitor_id`. There is no `GROUP BY` in the end script because `visitor_id` is already unique.

In [2]:
%%sql postgresql://postgres:postgrepassword@localhost/
WITH conversions AS (
  SELECT
    visitor_id,
    MAX(conversion_flag) AS converted
  FROM visitor_table
  GROUP BY visitor_id)
SELECT
  COUNT(*) AS "Total Visitor",
  SUM(CASE WHEN converted = '1' THEN 1 ELSE 0 END) AS "Total Converted",
  CONCAT(ROUND((SUM(CASE WHEN converted = '1' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Conversion Rate",
  SUM(CASE WHEN converted = '0' THEN 1 ELSE 0 END) AS "Total NOT Converted",
  CONCAT(ROUND((SUM(CASE WHEN converted = '0' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Not Converted Rate"
FROM conversions;

1 rows affected.

[(99262, 4982, '5.02%', 94280, '94.98%')]

#### * Find conversion rate by the first page of visit
First, I get the first `visit_datetime`, and whether the visitor *ultimately* converted. The end script joined the CTE back to the original table by capturing exact `visit_date_time`. By grouping `page_name`, I calculate the `Conversion_Rate` the same way as the first question.

In [3]:
%%sql postgresql://postgres:postgrepassword@localhost/
WITH conversions AS (
  SELECT
    visitor_id,
    MIN(visit_datetime) AS first_visit_datetime,
	MAX(conversion_flag) AS converted
  FROM visitor_table
  GROUP BY visitor_id
),
first_page AS (
  SELECT
    vt.visitor_id,
    vt.page_name AS first_page
  FROM visitor_table AS vt
  JOIN conversions AS c ON vt.visitor_id = c.visitor_id AND vt.visit_datetime = c.first_visit_datetime
)
SELECT
  fp.first_page,
  COUNT(*) AS "Total Visitor as First Page",
  SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END) AS "Total Converted",
  CONCAT(ROUND((SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Conversion Rate",
  SUM(CASE WHEN c.converted = '0' THEN 1 ELSE 0 END) AS "Total NOT Converted",
  CONCAT(ROUND((SUM(CASE WHEN c.converted = '0' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Not Converted Rate"
FROM first_page AS fp
JOIN conversions AS c ON fp.visitor_id = c.visitor_id
GROUP BY fp.first_page

26 rows affected.

[('A', 3888, 181, '4.66%', 3707, '95.34%'),
 ('B', 3764, 195, '5.18%', 3569, '94.82%'),
 ('C', 3861, 178, '4.61%', 3683, '95.39%'),
 ('D', 3751, 190, '5.07%', 3561, '94.93%'),
 ('E', 3763, 184, '4.89%', 3579, '95.11%'),
 ('F', 3838, 193, '5.03%', 3645, '94.97%'),
 ('G', 3907, 210, '5.37%', 3697, '94.63%'),
 ('H', 3913, 202, '5.16%', 3711, '94.84%'),
 ('I', 3776, 210, '5.56%', 3566, '94.44%'),
 ('J', 3843, 179, '4.66%', 3664, '95.34%'),
 ('K', 3764, 186, '4.94%', 3578, '95.06%'),
 ('L', 3805, 183, '4.81%', 3622, '95.19%'),
 ('M', 3837, 191, '4.98%', 3646, '95.02%'),
 ('N', 3744, 197, '5.26%', 3547, '94.74%'),
 ('O', 3799, 195, '5.13%', 3604, '94.87%'),
 ('P', 3982, 215, '5.40%', 3767, '94.60%'),
 ('Q', 3838, 178, '4.64%', 3660, '95.36%'),
 ('R', 3753, 199, '5.30%', 3554, '94.70%'),
 ('S', 3806, 179, '4.70%', 3627, '95.30%'),
 ('T', 3830, 191, '4.99%', 3639, '95.01%'),
 ('U', 3834, 185, '4.83%', 3649, '95.17%'),
 ('V', 3727, 182, '4.88%', 3545, '95.12%'),
 ('W', 3844, 188, '4.89%', 3656, '95.11%'),
 ('X', 3810, 179, '4.70%', 3631, '95.30%'),
 ('Y', 3752, 188, '5.01%', 3564, '94.99%'),
 ('Z', 3833, 224, '5.84%', 3609, '94.16%')]

#### * Find conversion rate by the last page of visit
With the similar method as previous question, I capture `MAX()` of `last_page_visited`, but only when the `conversion_flag` is still `0`. This way I will not capture any navigation *after* the `conversion_flag` is turned into `1`. The end script based on this CTE, because all the `visitor_id` should be captured (assuming **no visitor** should have `conversion_flag` set as `1` since the beginning), then joined with another CTE which only capture whether the `visitor_id` is converted or not.

In [4]:
%%sql postgresql://postgres:postgrepassword@localhost/
WITH conversions AS (
  SELECT
    visitor_id,
    MAX(CASE WHEN conversion_flag = '0' THEN visit_datetime ELSE NULL END) AS last_visit_datetime,
	MAX(conversion_flag) AS converted
  FROM visitor_table
  GROUP BY visitor_id
),
last_page AS (
  SELECT
    vt.visitor_id,
    vt.page_name AS last_page
  FROM visitor_table AS vt
  JOIN conversions AS c ON vt.visitor_id = c.visitor_id AND vt.visit_datetime = c.last_visit_datetime
)
SELECT
  lp.last_page,
  COUNT(*) AS "Total Visitor as Last Page",
  SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END) AS "Total Converted",
  CONCAT(ROUND((SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Conversion Rate",
  SUM(CASE WHEN c.converted = '0' THEN 1 ELSE 0 END) AS "Total NOT Converted",
  CONCAT(ROUND((SUM(CASE WHEN c.converted = '0' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Not Converted Rate"
FROM last_page AS lp
JOIN conversions AS c ON lp.visitor_id = c.visitor_id
GROUP BY lp.last_page

26 rows affected.

[('A', 3800, 150, '3.95%', 3650, '96.05%'),
 ('B', 3710, 153, '4.12%', 3557, '95.88%'),
 ('C', 3680, 144, '3.91%', 3536, '96.09%'),
 ('D', 3750, 165, '4.40%', 3585, '95.60%'),
 ('E', 3735, 147, '3.94%', 3588, '96.06%'),
 ('F', 3833, 150, '3.91%', 3683, '96.09%'),
 ('G', 3750, 175, '4.67%', 3575, '95.33%'),
 ('H', 3778, 150, '3.97%', 3628, '96.03%'),
 ('I', 3743, 168, '4.49%', 3575, '95.51%'),
 ('J', 3873, 174, '4.49%', 3699, '95.51%'),
 ('K', 3834, 144, '3.76%', 3690, '96.24%'),
 ('L', 3751, 142, '3.79%', 3609, '96.21%'),
 ('M', 3876, 136, '3.51%', 3740, '96.49%'),
 ('N', 3778, 184, '4.87%', 3594, '95.13%'),
 ('O', 3884, 158, '4.07%', 3726, '95.93%'),
 ('P', 3699, 152, '4.11%', 3547, '95.89%'),
 ('Q', 3689, 146, '3.96%', 3543, '96.04%'),
 ('R', 3736, 156, '4.18%', 3580, '95.82%'),
 ('S', 3833, 133, '3.47%', 3700, '96.53%'),
 ('T', 3773, 143, '3.79%', 3630, '96.21%'),
 ('U', 3874, 158, '4.08%', 3716, '95.92%'),
 ('V', 3767, 153, '4.06%', 3614, '95.94%'),
 ('W', 3805, 159, '4.18%', 3646, '95.82%'),
 ('X', 3722, 141, '3.79%', 3581, '96.21%'),
 ('Y', 3858, 135, '3.50%', 3723, '96.50%'),
 ('Z', 3712, 146, '3.93%', 3566, '96.07%')]

#### * Find conversion rate by the number of pages a visitor goes to
Same as the previous question, I created a CTE of `COUNT()` of page(s) visited, when the `conversion_flag` is still at `0`. I then ultimately joined another CTE which capture whether visitor is converted or not.

In [5]:
%%sql postgresql://postgres:postgrepassword@localhost/
WITH
	count_page_visited AS (
		SELECT
			COUNT(page_name) AS total_pages_visited,
-- 			COUNT(DISTINCT page_name) AS total_unique_pages_visited,
			visitor_id
		FROM
			visitor_table
		WHERE
			conversion_flag = '0'
		GROUP BY
			visitor_id),
	conversion AS (
		SELECT
			visitor_id,
			MAX(conversion_flag) AS converted
		FROM
			visitor_table
		GROUP BY
			visitor_id)
SELECT
	cpv.total_pages_visited,
-- 	cpv.total_unique_pages_visited,
	CONCAT(ROUND((SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Conversion Rate"
FROM
	count_page_visited AS cpv
LEFT JOIN
	conversion AS c ON cpv.visitor_id = c.visitor_id
GROUP BY
	cpv.total_pages_visited
--	cpv.total_unique_pages_visited

17 rows affected.

[(11, '0.94%'),
 (9, '1.10%'),
 (15, '0.00%'),
 (3, '5.14%'),
 (17, '0.00%'),
 (5, '2.04%'),
 (4, '3.09%'),
 (10, '0.98%'),
 (6, '1.58%'),
 (14, '3.33%'),
 (13, '0.00%'),
 (2, '9.79%'),
 (16, '0.00%'),
 (7, '1.18%'),
 (12, '0.32%'),
 (1, '22.70%'),
 (8, '0.95%')]

#### Find conversion rate by the page path users take
This one a little tricky because I'm not sure if I can use `ARRAY_TO_STRING()` and `ARRAY_AGG()` on another engine. I used Postgre SQL. This time I capture the path, again, when the `conversion_flag` is still at `0`.

In [6]:
%%sql postgresql://postgres:postgrepassword@localhost/
WITH
	path AS (
		SELECT
			ARRAY_TO_STRING(ARRAY_AGG(page_name ORDER BY visit_datetime ASC), ' -> ') AS nav_path,
			visitor_id
		FROM
			visitor_table
		WHERE
			conversion_flag = '0'
		GROUP BY
			visitor_id
	),
	conversion AS (
		SELECT
			visitor_id,
			MAX(conversion_flag) AS converted
		FROM
			visitor_table
		GROUP BY
			visitor_id)
SELECT
	p.nav_path,
	CONCAT(ROUND((SUM(CASE WHEN c.converted = '1' THEN 1 ELSE 0 END)/COUNT(*)::DECIMAL)*100,2),'%') AS "Conversion Rate"
FROM
	path AS p
LEFT JOIN
	conversion AS c ON p.visitor_id = c.visitor_id
GROUP BY
	p.nav_path
ORDER BY
	"Conversion Rate" DESC
LIMIT 50

50 rows affected.

[('H -> X', '9.52%'),
 ('X -> I', '9.52%'),
 ('B -> U', '9.09%'),
 ('R -> C', '9.09%'),
 ('G -> K', '9.09%'),
 ('G -> X', '9.09%'),
 ('L -> I', '9.09%'),
 ('D -> D', '9.09%'),
 ('G -> N', '9.09%'),
 ('R -> L', '9.09%'),
 ('K -> C', '9.09%'),
 ('I -> G', '9.09%'),
 ('C -> U', '9.09%'),
 ('W -> P', '9.09%'),
 ('R -> N', '9.09%'),
 ('E -> B', '9.09%'),
 ('Z -> P', '9.09%'),
 ('A -> C', '9.09%'),
 ('N -> R', '9.09%'),
 ('V -> O', '9.09%'),
 ('A -> L', '9.09%'),
 ('C -> B', '9.09%'),
 ('O -> D', '9.09%'),
 ('Y -> M', '9.09%'),
 ('J -> Z', '9.09%'),
 ('A -> M', '8.33%'),
 ('J -> B', '8.33%'),
 ('Z -> K', '8.33%'),
 ('X -> C', '8.33%'),
 ('Q -> K', '8.33%'),
 ('Y -> T', '8.33%'),
 ('B -> Q', '8.33%'),
 ('I -> J', '8.33%'),
 ('R -> A', '8.33%'),
 ('M -> Z', '8.33%'),
 ('R -> X', '8.33%'),
 ('C -> E', '8.33%'),
 ('Y -> B', '8.33%'),
 ('I -> O', '8.33%'),
 ('W -> E', '8.33%'),
 ('D -> F', '8.33%'),
 ('F -> D', '8.33%'),
 ('V -> D', '8.33%'),
 ('L -> U', '8.33%'),
 ('B -> D', '8.33%'),
 ('Y -> C', '8.33%'),
 ('Z -> X', '8.33%'),
 ('Z -> H', '8.33%'),
 ('U -> C', '8.33%'),
 ('J -> U', '8.33%')]