In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
# postgresql://username:password@hostname/dbname
%sql postgresql://postgres:postgrepassword@localhost/

[Data](../Data/SQL/Transaction%20Data.csv)
```sql
CREATE TABLE transactions (
  transaction_id SERIAL PRIMARY KEY,
  customer_id INTEGER,
  product_id INTEGER,
  transaction_date DATE,
  quantity INTEGER,
  unit_price FLOAT8,
  discount FLOAT8,
  pre_discount_total_price DOUBLE PRECISION,
  grand_total_price DOUBLE PRECISION,
  payment_method VARCHAR(50),
  employee_id INTEGER,
  credit_card_number VARCHAR(50),
  credit_card_type VARCHAR(50)
);
```

In [18]:
%%sql
SELECT COUNT(transaction_id) from transactions

 * postgresql://postgres:***@localhost/
1 rows affected.

[(6000,)]